.utilisateur_stats-page-title {
  padding: 10px 15px;
  background-color: red;
  font-weight: bolder;
  margin: 0;
}
.utilisateur_stats-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



///// TABLE utilisateurs ///
///
.utilisateurs_stats-table {
  text-align: center;
  border-collapse: separate;
  border-spacing: 1px 2px;

  thead {
    th {
      padding: 10px 5px;
    }
  }
  .utilisateur_stats-theme-th {
    background-color: darkslategray;
    cursor: pointer;
    td {
      font-size: 18px;
    }
  }
}
.utilisateurs_stats-table-th-petit {
  width: 2vw;
}
.utilisateurs_stats-table-th-moyen {
  width: 5vw;
}
.utilisateurs_stats-table-th-grand {
  width: 12vw;
}

.utilisateur_stats-section-stats-flex-icon {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// RECAPITULATIF ///
.utilisateur_stats-recapitulatif-details {
    width: 100%;
  display: flex;
  justify-content: space-around;
}

.utilisateur_stats_details-container {
  padding: 10px 20px;
  color: white;
  background-color: darkslateblue;
  width: 12vw;
  border-radius: 10px;
  margin: 10px;
  width: 25%;
}

.utilisateur_stats_details-libelle {
  font-size: 20px;
  text-align: left;
}

.utilisateur_stats_details-value {
  font-size: 42px;
  text-align: right;
}

.utilisateurs_stats-table-avancement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

//  Visuel graphique de completion en %
.utilisateur_stats-theme-visuel-container {
  border-radius: 50%;
  width: 50px;
  height: 50px;

  background: conic-gradient(#4caf50 var(--progress), #cccccc 0deg);

  display: flex;
  justify-content: center;
  align-items: center;
}
.utilisateur_stats-theme-visuel-stat {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkslategray;
  font-size: 12px;
}

.utilisateur_stats-theme-quiz {
  background: lightslategray;
  height: 40px;

  .utilisateurs_stats-table-avancement-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }
  .utilisateur_stats-theme-visuel-container {
    width: 35px;
    height: 35px;
  }
  .utilisateur_stats-theme-visuel-stat {
    width: 25px;
    height: 25px;
    font-size: 9px;
  }
}
