.utilisateur_stats-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

///// TABLE utilisateurs ///
///
.utilisateurs_stats-table {
  text-align: center;
   border-collapse: separate;
  border-spacing: 1px 10px;

  thead {
     th {
      padding: 10px 15px;
     }
  }
  tr {
    background-color: darkslategray;

    td {
      font-size: 18px;

    }
  }
}
.utilisateurs_stats-table-th-petit {
  width: 2vw;
}
.utilisateurs_stats-table-th-moyen {
  width: 5vw;
}
.utilisateurs_stats-table-th-grand {
  width: 12vw;
}

.utilisateur_stats-section-stats-flex-icon {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {

  }
}

.utilisateur_stats-recapitulatif-details {
  display: flex;
}

.utilisateur_stats_details-container {
  padding: 10px 20px;
  color: white;
  background-color: darkslateblue;
  width: 12vw;
  border-radius: 10px;
  margin: 10px;
}

.utilisateur_stats_details-libelle {
  font-size:20px;
  text-align: left;

}

.utilisateur_stats_details-value {

  font-size: 42px;
  text-align: right;
}




.utilisateurs_stats-table-avancement {
  display : flex;
  justify-content: center;

}

//  Visuel graphique de completion en %
.utilisateur_stats-theme-visuel-container {
  border-radius: 50%;
  width:80px;
  height:80px;

  background: conic-gradient(#4caf50 var(--progress), #cccccc 0deg);

  display: flex;
  justify-content: center;
  align-items: center;
}
.utilisateur_stats-theme-visuel-stat {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  // border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkslategray;

}
