.quizchoix-page-main {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;

  align-items: center;
  justify-content: center;
  background: whitesmoke;

  h1 {
    font-size: 48px;
    margin: 0;

  }
}
//////////////////////////////////////////////////
/// Quizz score container
/// Par défaut flex 80%, puis flex 15% quand le joueur a rentré son nom
.quizchoix-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: silver;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  // border: 1px solid black;
  h1 {
    background: goldenrod;
    width: 100%;
    text-align: center;
    background: darkslategray;
    color:white;
    text-shadow: 2px 2px 2px black;

  }
}
.quizchoix-container-center {
  justify-content: center;
}

.quizchoix-container-normal {
  justify-content: normal;
}

.quizchoix-quiz-wrapper {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  padding: 10px 0;
  border: 3px solid black;
  border-left: none;
  border-right: none;
}

.quizchoix-quiz-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quizchoix-quiz {
  border: 5px solid black;
  border-radius: 10px;
  width: 270px;
  height: 130px;
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all ease 0.66s;
  position: relative;
  &:hover {
    transform: scale(1.08);
    opacity: 0.9;
    border: 5px solid red;
    span {
      border-top-left-radius: 5px;
    }
  }
  span {
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px teal;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.quizchoix-quiz-rsp {
  background-image: url("/assets/thumbnails/img_globales_rsp.png");
}

.quizchoix-quiz-reseaux {
  background-image: url("/assets/thumbnails/img_reseaux.png");
}

.quizchoix-quiz-java,
.quizchoix-quiz-java_affichage,
.quizchoix-quiz-java_avance {
  background-image: url("/assets/thumbnails/img_developpement.png");
}


.quizchoix-quiz-linux,
.quizchoix-quiz-linux_admin,
.quizchoix-quiz-securite,
.quizchoix-quiz-scriptshell,
.quizchoix-quiz-linux_scripts,
.quizchoix-quiz-postgresql_dba,
.quizchoix-quiz-postgresql,
.quizchoix-quiz-sql {
  background-image: url("/assets/thumbnails/img_adminsys.png");
}

.quizchoix-quiz-cycle_vie_application,
.quizchoix-quiz-schema_directeur,
.quizchoix-quiz-partenaire_projet,
.quizchoix-quiz-conduite_projet_info,
.quizchoix-quiz-urbanisation_systeme_info  {
  background-image: url("/assets/thumbnails/img_projet_info.png");
}


.quizchoix-quiz-merise,
.quizchoix-quiz-uml,
.quizchoix-quiz-concepts_objet,
.quizchoix-quiz-test,
.quizchoix-quiz-evolution_language,
.quizchoix-quiz-schema_conception
{
  background-image: url("/assets/thumbnails/img_conception_info.png");
}


.quizchoix-quiz-bientot {
  background-image: url("/assets/thumbnails/img_bientot.png");
}

.quizchoix-quiz-logique,
.quizchoix-quiz-logique_avancee {
  background-image: url("/assets/thumbnails/img_logique.png");
}



.highscore-joueur-0 {
  background-color: gold;
}
.highscore-joueur-1 {
  background-color: silver;
}
.highscore-joueur-2 {
  background-color: chocolate;
}

.quizchoix-table-wrapper {
  width: 80%;
  height: 30%;
  max-height: 137px;
  overflow-y: auto;
  border: 3px solid black;
  margin: 10px 0;
}

#quizchoix-footer {
  background-color: tan;
  width: 100%;
  text-align: center;
   color: whitesmoke;
    text-shadow: 2px 2px 2px teal;
    font-weight: bold;
    background: black;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
}
// @media
/// FILTRE SECTION

.quizchoix-section-filter {
display: flex;
padding: 5px 0;
justify-content: space-evenly;
align-items: center;
}

.quizchoix-filter {
  padding: 5px 10px;
  background: whitesmoke;
  color: black;
  margin: 0 5px;
  border: 3px solid black;
  border-radius: 5px;
  width: 180px;
  text-align: center;
  font-weight: bold;
  &:hover {
    background: lightseagreen;
    cursor: pointer;
  }
}
