.quizchoix-page-main {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: whitesmoke;

  h1 {
    font-size: 48px;
    margin: 0;
    padding: 5px 0;
  }
}
//////////////////////////////////////////////////
/// Quizz score container
/// Par défaut flex 80%, puis flex 15% quand le joueur a rentré son nom
.quizchoix-container {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  background: silver;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  // border: 1px solid black;
  h1 {
    background: goldenrod;
    width: 100%;
    text-align: center;
    background: darkslategray;
    color: white;
    text-shadow: 2px 2px 2px black;
  }
}
.quizchoix-container-center {
  justify-content: center;
}

.quizchoix-container-normal {
  justify-content: normal;
}

.quizchoix-quiz-wrapper {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 90%;
  background: darkgrey;
  overflow-y: scroll;
  padding:5% 20px;

  // justify-items: center;
  // align-items: center;
}

.quizchoix-quiz-wrapper-flex {
  display: grid;
  grid-template-columns: repeat(1);

  justify-content: center;
  align-content:start;

  gap: 20px;
}

.quizchoix-quiz-wrapper-none {
  display: none;
}

.quizchoix-quiz-exit-modal {
  position: absolute;
  z-index: 200;
  padding: 20px;
  border: 3px solid black;
  top:10%;
  left: 5%;
}

.quizchoix-quiz-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quizchoix-quiz {
  // background-position: bottom;
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: rgba(39, 90, 178, 0.797);
  cursor: pointer;
  transition: all ease 0.66s;

  padding: 5px 10px;
  // background: whitesmoke;
  color: black;
  margin: 0 5px;
  border: 3px solid black;
  border-radius: 2px;
  width: 70vw;
  height:100px;
  font-weight: bold;
  position: relative;

  &:hover {
    transform: scale(1.02);

  }
  .quizchoix-quiz-vignette {
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px teal;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: left;
  }

  .quizchoix-quiz-img {
    width: 95px;
    height: 95px;
     position: absolute;
    top: 0;
    left: 0;
  }
  .quizchoix-quiz-theme {
    position: absolute;
    top: 0;
    left: 100px;
  }
  .quizchoix-quiz-nbquestions {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px teal;
    font-size: 14px;
    font-weight: bold;
  }

  .quizchoix-quiz-tentative {
    position: absolute;
    top: 25px;
    right: 10px;
    font-size: 12px;
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px teal;
    font-size: 14px;
    font-weight: bold;
  }

  .quizchoix-quiz-highscore {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 12px;
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px teal;
    font-size: 14px;
    font-weight: bold;
  }

    .quizchoix-quiz-description {
    position: absolute;
    bottom: 0px;
    left: 110px;
    width: 70%;
    text-align: left;
    font-size: 12px;
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px teal;
    font-size: 14px;
    font-weight: bold;
  }
}

// difficulté
.quizchoix-quiz-diff {
  position: absolute;
  bottom: 25px;
  right: 10px;
  height: 15px;
  width: 15px;
  border: 5px solid rgb(253, 253, 253);
  border-radius: 50%;
}
.quizchoix-quiz-vignette-facile {
  background: lightblue;
}
.quizchoix-quiz-vignette-normal {
  background: green;
}
.quizchoix-quiz-vignette-difficile {
  background: orange;
}
.quizchoix-quiz-vignette-expert {
  background: red;
}
.filter-vignette {
  position: relative;
  right: 0;
  height: 15px;
  width: 15px;
  border: 5px solid whitesmoke;
  border-radius: 50%;
}

.quizchoix-quiz-filter-vignette-facile {
  background: lightblue;
}
.quizchoix-quiz-filter-vignette-normal {
  background: green;
}
.quizchoix-quiz-filter-vignette-difficile {
  background: orange;
}
.quizchoix-quiz-filter-vignette-expert {
  background: red;
}

// .quizchoix-quiz-rsp {
//   background-image: url("/assets/thumbnails/img_globales_rsp.png");
// }

// .quizchoix-quiz-Réseaux {
//   background-image: url("/assets/thumbnails/img_reseaux.png");
// }

// .quizchoix-quiz-Développement {
//   background-image: url("/assets/thumbnails/img_developpement.png");
// }

// .quizchoix-quiz-AdminSys {
//   background-image: url("/assets/thumbnails/img_adminsys.png");
// }

// .quizchoix-quiz-Projet {
//   background-image: url("/assets/thumbnails/img_projet_info.png");
// }

// .quizchoix-quiz-Conception {
//   background-image: url("/assets/thumbnails/img_conception_info.png");
// }

// .quizchoix-quiz-Juridique {
//   background-image: url("/assets/thumbnails/img_juridique.png");
// }

// .quizchoix-quiz-Outils {
//   background-image: url("/assets/thumbnails/img_outils.png");
// }

// .quizchoix-quiz-Culture {
//   background-image: url("/assets/thumbnails/img_culture.png");
// }

// .quizchoix-quiz-IA {
//   background-image: url("/assets/thumbnails/img_ia.png");
// }

// .quizchoix-quiz-Data {
//   background-image: url("/assets/thumbnails/img_data.png");
// }

// .quizchoix-quiz-Sécurité {
//   background-image: url("/assets/thumbnails/img_securite.png");
// }

// .quizchoix-quiz-Logique {
//   background-image: url("/assets/thumbnails/img_logique.png");
// }

.highscore-joueur-0 {
  background-color: gold;
}
.highscore-joueur-1 {
  background-color: silver;
}
.highscore-joueur-2 {
  background-color: chocolate;
}

.quizchoix-table-wrapper {
  width: 80%;
  height: 30%;
  max-height: 137px;
  // overflow-y: auto;
  border: 3px solid black;
  margin: 10px 0;
}

#quizchoix-footer {
  background-color: tan;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 2px teal;
  font-weight: bold;
  background: black;
  padding: 5px 0;
  // position: fixed;
  // bottom: 0;
}
// @media
/// FILTRE SECTION

.quizchoix-section-filter {
  padding: 8px 0;
  // justify-content: space-evenly;
  // align-items: center;
  // flex-direction: column;
  // height: 100%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.quizchoix-filter {
  padding: 5px 10px;
  background: whitesmoke;
  color: black;
  margin: 0 5px;
  border: 3px solid black;
  border-radius: 2px;
  width: 250px;
  height: 200px;
  font-weight: bold;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.quizchoix-filter-thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.quizchoix-filter-selection {
  border: 2px solid #c2c2c2;
  color: #c2c2c2;
  padding: 10px 20px;
  border-radius: 8px;
  &:hover {
    border: 2px solid lightseagreen;
    background: lightseagreen;
    color: whitesmoke;
    cursor: pointer;
  }
}

.quizchoix-filter-selected-tout {
  background: teal;
}

// Filter difficulte

.quizchoix-section-difficulte {
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .quizchoix-quiz {
    border: 5px solid black;
    border-radius: 10px;
    width: 90vw;
    height: 60px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all ease 0.66s;
    position: relative;
    &:hover {
      transform: scale(1.08);
      opacity: 0.9;
      border: 5px solid red;
      span {
        border-top-left-radius: 5px;
      }
    }
    span {
      font-size: 15px;
      text-align: left;
    }
  }

  .quizchoix-page-main {
    h1 {
      font-size: 20px;
      margin: 0;
      padding: 5px 0;
    }
  }

  .quizchoix-section-filter {
    // overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: 50px;
  }

  .quizchoix-filter {
    width: 150px;
  }
}

@media screen and (max-width: 1500px) {
  .quizchoix-section-filter {
    display: flex;
    padding: 8px 0;
    justify-content: space-evenly;
    align-items: center;
    // overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: 5vh;
  }

  .quizchoix-filter {
    padding: 5px 10px;
    background: whitesmoke;
    color: black;
    margin: 0 2px;
    border: 3px solid black;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    font-weight: bold;
    &:hover {
      background: lightseagreen;
      cursor: pointer;
    }
  }
  .quizchoix-quiz {
    .quizchoix-quiz-nbquestions {
      position: absolute;
      bottom: 0px;
      right: 10px;
      font-size: 12px;
      font-size: 18px;
      color: whitesmoke;
      text-shadow: 2px 2px 2px teal;
      font-size: 14px;
      font-weight: bold;
    }
  }
  // difficulté
  .quizchoix-quiz-diff {
    position: absolute;
    bottom: 20px;
    right: 10px;
    height: 15px;
    width: 15px;
    border: 5px solid rgb(253, 253, 253);
    border-radius: 50%;
  }
}
