@charset "UTF-8";
.quizz-page-main {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: darkslategray;
}

.quizz-score-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: darkslategray;
  position: relative;
  z-index: 1;
  border: 3px solid black;
  transition: width 0.5s ease;
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;
}
.quizz-score-container.started {
  width: 100%;
}
.quizz-score-container.ended {
  width: 100%;
  height: 50%;
  z-index: 40;
}

.quizz-score-container-starter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: silver;
  height: 60%;
  width: 80%;
  position: relative;
  z-index: 1;
  border: 3px solid black;
  transition: width 0.5s ease;
}
.quizz-score-container-starter.started {
  width: 100%;
}

.quizz-table-title {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quizz-table-title :nth-child(1) {
  width: 33%;
  border-bottom: 1px solid black;
}
.quizz-table-title :nth-child(2) {
  margin: 0 10px;
  text-align: center;
  font-size: 24px;
}
.quizz-table-title :nth-child(3) {
  width: 33%;
  border-bottom: 1px solid black;
}

.quizz-score-title {
  font-size: 48px;
  font-weight: bold;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;
}
.quizz-score-title.ended {
  z-index: 50;
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;
  width: 100%;
}

.quizz-score-name {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.quizz-score-name button {
  padding: 10px 20px;
  font-size: 32px;
  cursor: pointer;
  margin: 5px 10px;
  width: 30vw;
}
.quizz-table-wrapper {
  width: 80%;
  max-height: 300px;
  overflow-y: auto;
  border: 3px solid black;
  margin: 10px 0;
}

.quizz-score-table {
  border: 1px solid red;
  width: 100%;
  border-collapse: collapse;
  height: auto;
  font-size: 22px;
}
.quizz-score-table td {
  width: 25%;
  border: 1px solid black;
  text-align: center;
}
.quizz-score-table thead {
  background-color: black;
  font-weight: bold;
  color: whitesmoke;
}

.quizz-points {
  font-size: 24px;
  width: 15%;
  justify-content: center;
  align-items: center;
}

.quizz-round {
  font-size: 24px;
  width: 15%;
}

.highscore-joueur-0 {
  background-color: gold;
}

.highscore-joueur-1 {
  background-color: silver;
}

.highscore-joueur-2 {
  background-color: chocolate;
}

.quizz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: silver;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  border: 3px solid black;
  border-left: none;
}

.quizz-container-column {
  flex-direction: column;
}

.quizz-boutons-action {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 25px;
}
.quizz-boutons-action.ended {
  left: 50%;
  transform: translateX(-50%);
}

.quizz-next,
.quizz-stop {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
  background: lightgray;
  width: 250px;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
}
.quizz-next:hover,
.quizz-stop:hover {
  background: teal;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
  transition: all ease 0.33s;
  color: whitesmoke;
}
.quizz-next.ended,
.quizz-stop.ended {
  width: 270px;
}

.quizz-question-container {
  padding: 5px 0;
  font-weight: bold;
  height: 90%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-line;
  background-color: rgb(89, 189, 189);
  border: 3px solid black;
}

.quizz-question {
  padding-left: 15px;
  font-size: 24px;
}

.quizz-question-pre {
  font-size: 18px;
}

.quizz-separator {
  border: 1px solid black;
  width: 100%;
}

.quizz-reponses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  height: 100%;
}

.quizz-reponses {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quizz-reponse-result-reponse {
  margin-bottom: 10px;
}

.quizz-reponse {
  margin: 10px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 24px;
  background: whitesmoke;
  height: 22vh;
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.quizz-reponse:hover {
  border: 3px solid teal;
  color: teal;
}

.quizz-resultat {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: baseline;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  background: whitesmoke;
  align-items: center;
  border: 7px solid black;
}
.quizz-resultat.ended {
  background: silver;
}

.quizz-reponse-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  text-align: center;
}

.quizz-reponse-result-bon {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.result-bon {
  background: lightgreen;
}

.result-mauvais {
  height: 30%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quizz-resultat-flex {
  display: flex;
}

.score-joueur {
  background: grey;
}

.quizz-theme {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .quizz-page-main {
    overflow-y: auto;
  }
  .quizz-score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: darkslategray;
    position: relative;
    z-index: 1;
    border: 3px solid black;
    transition: width 0.5s ease;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
  }
  .quizz-score-container.started {
    width: 100%;
  }
  .quizz-score-container.ended {
    width: 80%;
    height: 80%;
  }
  .quizz-score-container h1 {
    margin: 0;
    font-size: 16px;
  }
  .quizz-score-container p {
    margin: 2px 0;
    width: 70%;
    text-align: center;
    font-size: 17px;
  }
  .quizz-score-container .quizz-round {
    font-size: 24px;
    width: 90%;
  }
  .quizz-score-container .quizz-score-title {
    font-weight: bolder;
    text-align: center;
    height: 20vh;
    width: 90%;
  }
  .quizz-score-container .quizz-score-title.ended {
    z-index: 50;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    font-size: 36px;
  }
  .quizz-score-container-starter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: silver;
    height: 96%;
    width: 96%;
    position: relative;
    z-index: 1;
    border: 3px solid black;
    transition: width 0.5s ease;
  }
  .quizz-score-container-starter.started {
    width: 100%;
  }
  .quizz-score-container-starter p {
    font-size: 18px;
    width: 90%;
  }
  .quizz-score-container-starter #quizz-start,
  .quizz-score-container-starter #quizz-retour {
    width: 80vw;
    margin: 10px 0;
  }
  .quizz-container {
    flex-direction: column;
  }
  .quizz-question-container {
    font-weight: bold;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
    background-color: rgb(89, 189, 189);
    padding-left: 0px;
    text-align: center;
  }
  .quizz-question-pre {
    font-size: 10px;
  }
  .quizz-reponses {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .quizz-reponse {
    margin: 5px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 18px;
    background: whitesmoke;
    height: 13vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .quizz-reponse:hover {
    border: 3px solid teal;
    color: teal;
  }
  .quizz-boutons-action {
    padding: 10px;
    background-color: darkslategray;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 25px;
  }
  .quizz-boutons-action.ended {
    flex-direction: column;
  }
  .quizz-next,
  .quizz-stop {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    background: silver;
    width: 45vw;
    height: 70px;
    font-weight: bold;
  }
  .quizz-next.ended,
  .quizz-stop.ended {
    width: 65vw;
  }
  .quizz-resultat {
    font-size: 24px;
  }
  .quizz-resultat.ended p {
    font-size: 24px;
  }
}
.quizchoix-page-main {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
}
.quizchoix-page-main h1 {
  font-size: 48px;
  margin: 0;
  padding: 5px 0;
}

.quizchoix-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: silver;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}
.quizchoix-container h1 {
  background: goldenrod;
  width: 100%;
  text-align: center;
  background: darkslategray;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.quizchoix-container-center {
  justify-content: center;
}

.quizchoix-container-normal {
  justify-content: normal;
}

.quizchoix-quiz-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  overflow-y: auto;
  padding: 10px 0;
  border: 3px solid black;
  border-left: none;
  border-right: none;
}

.quizchoix-quiz-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quizchoix-quiz {
  border: 5px solid black;
  border-radius: 10px;
  width: 270px;
  height: 130px;
  margin: 10px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all ease 0.66s;
  position: relative;
}
.quizchoix-quiz:hover {
  transform: scale(1.08);
  opacity: 0.9;
  border: 5px solid red;
}
.quizchoix-quiz:hover span {
  border-top-left-radius: 5px;
}
.quizchoix-quiz .quizchoix-quiz-vignette {
  font-size: 18px;
  color: whitesmoke;
  text-shadow: 2px 2px 2px teal;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: left;
}
.quizchoix-quiz .quizchoix-quiz-theme {
  position: absolute;
  top: 0;
  left: 0;
}
.quizchoix-quiz .quizchoix-quiz-nbquestions {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 12px;
  font-size: 18px;
  color: whitesmoke;
  text-shadow: 2px 2px 2px teal;
  font-size: 14px;
  font-weight: bold;
}

.quizchoix-quiz-diff {
  position: absolute;
  bottom: 25px;
  right: 10px;
  height: 15px;
  width: 15px;
  border: 5px solid rgb(253, 253, 253);
  border-radius: 50%;
}

.quizchoix-quiz-vignette-facile {
  background: lightblue;
}

.quizchoix-quiz-vignette-normal {
  background: green;
}

.quizchoix-quiz-vignette-difficile {
  background: orange;
}

.quizchoix-quiz-vignette-expert {
  background: red;
}

.quizchoix-quiz-rsp {
  background-image: url("/assets/thumbnails/img_globales_rsp.png");
}

.quizchoix-quiz-Réseaux {
  background-image: url("/assets/thumbnails/img_reseaux.png");
}

.quizchoix-quiz-Développement {
  background-image: url("/assets/thumbnails/img_developpement.png");
}

.quizchoix-quiz-AdminSys {
  background-image: url("/assets/thumbnails/img_adminsys.png");
}

.quizchoix-quiz-Projet {
  background-image: url("/assets/thumbnails/img_projet_info.png");
}

.quizchoix-quiz-Conception {
  background-image: url("/assets/thumbnails/img_conception_info.png");
}

.quizchoix-quiz-Juridique {
  background-image: url("/assets/thumbnails/img_juridique.png");
}

.quizchoix-quiz-Outils {
  background-image: url("/assets/thumbnails/img_outils.png");
}

.quizchoix-quiz-Culture {
  background-image: url("/assets/thumbnails/img_culture.png");
}

.quizchoix-quiz-Logique {
  background-image: url("/assets/thumbnails/img_logique.png");
}

.highscore-joueur-0 {
  background-color: gold;
}

.highscore-joueur-1 {
  background-color: silver;
}

.highscore-joueur-2 {
  background-color: chocolate;
}

.quizchoix-table-wrapper {
  width: 80%;
  height: 30%;
  max-height: 137px;
  overflow-y: auto;
  border: 3px solid black;
  margin: 10px 0;
}

#quizchoix-footer {
  background-color: tan;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 2px teal;
  font-weight: bold;
  background: black;
  padding: 5px 0;
}

.quizchoix-section-filter {
  display: flex;
  padding: 8px 0;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.quizchoix-filter {
  padding: 5px 10px;
  background: whitesmoke;
  color: black;
  margin: 0 5px;
  border: 3px solid black;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  font-weight: bold;
}
.quizchoix-filter:hover {
  background: lightseagreen;
  cursor: pointer;
}

.quizchoix-filter-selected-tout {
  background: teal;
}

.quizchoix-section-difficulte {
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .quizchoix-quiz {
    border: 5px solid black;
    border-radius: 10px;
    width: 90vw;
    height: 60px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all ease 0.66s;
    position: relative;
  }
  .quizchoix-quiz:hover {
    transform: scale(1.08);
    opacity: 0.9;
    border: 5px solid red;
  }
  .quizchoix-quiz:hover span {
    border-top-left-radius: 5px;
  }
  .quizchoix-quiz span {
    font-size: 15px;
    text-align: left;
  }
  .quizchoix-page-main h1 {
    font-size: 20px;
    margin: 0;
    padding: 5px 0;
  }
  .quizchoix-section-filter {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: 50px;
  }
  .quizchoix-filter {
    width: 150px;
  }
}
@media screen and (max-width: 1500px) {
  .quizchoix-section-filter {
    display: flex;
    padding: 8px 0;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: 5vh;
  }
  .quizchoix-filter {
    padding: 5px 10px;
    background: whitesmoke;
    color: black;
    margin: 0 2px;
    border: 3px solid black;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    font-weight: bold;
  }
  .quizchoix-filter:hover {
    background: lightseagreen;
    cursor: pointer;
  }
  .quizchoix-quiz .quizchoix-quiz-nbquestions {
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 12px;
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px teal;
    font-size: 14px;
    font-weight: bold;
  }
  .quizchoix-quiz-diff {
    position: absolute;
    bottom: 20px;
    right: 10px;
    height: 15px;
    width: 15px;
    border: 5px solid rgb(253, 253, 253);
    border-radius: 50%;
  }
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  font-family: "Arial Narrow Bold", sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  padding: 20px;
}/*# sourceMappingURL=index.css.map */