.quizz-page-main {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: teal;
}

.quizz-score-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: tan;
  position: relative;
  z-index: 1;
  border: 3px solid black;
  border-right: 1px solid black;
  transition: width 0.5s ease;
}
.quizz-score-container.started {
  width: 100%;
}

.quizz-score-container-starter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: tan;
  height: 60%;
  width: 80%;
  position: relative;
  z-index: 1;
  border: 3px solid black;
  border-right: 1px solid black;
  transition: width 0.5s ease;
}
.quizz-score-container-starter.started {
  width: 100%;
}

.quizz-table-title {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quizz-table-title :nth-child(1) {
  width: 33%;
  border-bottom: 1px solid black;
}
.quizz-table-title :nth-child(2) {
  margin: 0 10px;
  text-align: center;
  font-size: 24px;
}
.quizz-table-title :nth-child(3) {
  width: 33%;
  border-bottom: 1px solid black;
}

.quizz-score-title {
  font-size: 48px;
  font-weight: bold;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.quizz-score-name {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quizz-score-name button {
  padding: 10px 20px;
  font-size: 32px;
  cursor: pointer;
  margin: 0 10px;
}
.quizz-table-wrapper {
  width: 80%;
  max-height: 300px;
  overflow-y: auto;
  border: 3px solid black;
  margin: 10px 0;
}

.quizz-score-table {
  border: 1px solid red;
  width: 100%;
  border-collapse: collapse;
  height: auto;
  font-size: 22px;
}
.quizz-score-table td {
  width: 25%;
  border: 1px solid black;
  text-align: center;
}
.quizz-score-table thead {
  background-color: black;
  font-weight: bold;
  color: whitesmoke;
}

.quizz-points {
  font-size: 24px;
  width: 15%;
  justify-content: center;
  align-items: center;
}

.quizz-round {
  font-size: 24px;
  width: 15%;
}

.highscore-joueur-0 {
  background-color: gold;
}

.highscore-joueur-1 {
  background-color: silver;
}

.highscore-joueur-2 {
  background-color: chocolate;
}

.quizz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgoldenrodyellow;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  border: 3px solid black;
  border-left: none;
}

.quizz-container-column {
  flex-direction: column;
}

.quizz-boutons-action {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 25px;
}

.quizz-next,
.quizz-stop {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
  background: lightgray;
  width: 250px;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
}
.quizz-next:hover,
.quizz-stop:hover {
  background: teal;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
  transition: all ease 0.33s;
  color: whitesmoke;
  font-weight: bold;
}

.quizz-question-container {
  margin-left: 15px;
  padding: 5px 0;
  font-weight: bold;
  height: 90%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-line;
  background-color: rgb(89, 189, 189);
  border: 3px solid black;
}

.quizz-question {
  padding-left: 15px;
  font-size: 24px;
}

.quizz-question-pre {
  font-size: 18px;
}

.quizz-separator {
  border: 1px solid black;
  width: 100%;
}

.quizz-reponses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  height: 100%;
}

.quizz-reponses {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quizz-reponse {
  margin: 10px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 24px;
  background: lightgray;
  height: 22vh;
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.quizz-reponse:hover {
  border: 3px solid teal;
  color: teal;
}

.quizz-resultat {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: baseline;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  background: whitesmoke;
  align-items: center;
  border: 7px solid black;
}

.quizz-reponse-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  text-align: center;
}

.quizz-reponse-result-bon {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.result-bon {
  background: lightgreen;
}

.result-mauvais {
  height: 30%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quizz-resultat-flex {
  display: flex;
}

.score-joueur {
  background: grey;
}

.quizz-theme {
  font-size: 24px;
}

.quizchoix-page-main {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: teal;
}
.quizchoix-page-main h1 {
  font-size: 48px;
  margin: 0;
}

.quizchoix-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: tan;
  height: 100%;
  width: 95%;
  position: relative;
  z-index: 1;
  border: 3px solid black;
}
.quizchoix-container h1 {
  background: goldenrod;
  width: 100%;
  text-align: center;
}

.quizchoix-container-center {
  justify-content: center;
}

.quizchoix-container-normal {
  justify-content: normal;
}

.quizchoix-quiz-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 85%;
  overflow-y: auto;
  padding: 10px 0;
  border: 3px solid black;
  border-left: none;
  border-right: none;
}

.quizchoix-quiz-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quizchoix-quiz {
  border: 5px solid black;
  border-radius: 10px;
  width: 270px;
  height: 130px;
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all ease 0.66s;
  position: relative;
}
.quizchoix-quiz:hover {
  transform: scale(1.08);
  opacity: 0.9;
  border: 5px solid whitesmoke;
}
.quizchoix-quiz:hover span {
  border-top-left-radius: 5px;
}
.quizchoix-quiz span {
  font-size: 18px;
  color: whitesmoke;
  text-shadow: 2px 2px 2px teal;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.quizchoix-quiz-rsp {
  background-image: url("./assets/thumbnails/img_globales_rsp.png");
}

.quizchoix-quiz-reseaux {
  background-image: url("./assets/thumbnails/img_reseaux.png");
}

.quizchoix-quiz-java,
.quizchoix-quiz-java_affichage,
.quizchoix-quiz-java_avance {
  background-image: url("./assets/thumbnails/img_developpement.png");
}

.quizchoix-quiz-linux,
.quizchoix-quiz-linux_admin,
.quizchoix-quiz-securite,
.quizchoix-quiz-scriptshell,
.quizchoix-quiz-linux_scripts,
.quizchoix-quiz-postgresql_dba,
.quizchoix-quiz-postgresql,
.quizchoix-quiz-sql {
  background-image: url("./assets/thumbnails/img_adminsys.png");
}

.quizchoix-quiz-cycle_vie_application,
.quizchoix-quiz-schema_directeur,
.quizchoix-quiz-partenaire_projet,
.quizchoix-quiz-conduite_projet_info {
  background-image: url("./assets/thumbnails/img_projet_info.png");
}

.quizchoix-quiz-merise,
.quizchoix-quiz-uml,
.quizchoix-quiz-concepts_objet,
.quizchoix-quiz-test,
.quizchoix-quiz-evolution_language,
.quizchoix-quiz-schema_conception,
.quizchoix-quiz-urbanisation_systeme_info {
  background-image: url("./assets/thumbnails/img_conception_info.png");
  background-size: contain;
}

.quizchoix-quiz-bientot {
  background-image: url("./assets/thumbnails/img_bientot.png");
}

.quizchoix-quiz-logique,
.quizchoix-quiz-logique_avancee {
  background-image: url("./assets/thumbnails/img_logique.png");
}

.highscore-joueur-0 {
  background-color: gold;
}

.highscore-joueur-1 {
  background-color: silver;
}

.highscore-joueur-2 {
  background-color: chocolate;
}

.quizchoix-table-wrapper {
  width: 80%;
  height: 30%;
  max-height: 137px;
  overflow-y: auto;
  border: 3px solid black;
  margin: 10px 0;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  font-family: "Arial Narrow Bold", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}/*# sourceMappingURL=index.css.map */