@use "../pages/quizGame/quizGame";
@use "../pages/quizChoix/quizzchoix";

html {
  // height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  font-family: "Arial Narrow Bold", sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}



.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  padding: 20px;
}
