.quizDashboard-page {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c5b9b9;

  color: #f1f1f1;
  flex-wrap: wrap;
}

///// SECTION GAUCHE //////
///
.quizDashboard-section-left {
  width: 20%;
  // height: 96%;
  height: 100%;
  // border-right: 1px solid red;
  // margin: 0px 5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #373737;
}

.quizDashboard-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.quizDashboard-menu-line {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 5px 0;
  background-color: #f1f1f1;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.33s ease;
  &:hover {
    background-color: #6a6a6a;
  }
}

.quizDashboard-deconnexion {
  position: absolute;
  bottom: 20px;
}

/// SECTION DROITE /////
.quizDashboard-section-right {
  width: 80%;
  height: 100%;
  // border: 1px solid red;
  background: #1a1a1a;

  overflow-y: auto;
}

.quizDashboard-section-stats-flex-container {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: darkslategray;
  display: flex;
}

.quizDashboard-section-stats-flex-icon {
  width: 100px;
}

.quizDashboard-section-stats-flex-line {
  display: flex;
}
.quizDashboard-section-stats-flex-line-theme {
  width: 220px;
}
.quizDashboard-section-stats-flex-line-stats {
  display: flex;
}
