.quizz-page-main {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: teal;
}
//////////////////////////////////////////////////
/// Quizz score container
/// Par défaut flex 80%, puis flex 15% quand le joueur a rentré son nom
.quizz-score-container {
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: tan;
  // height: 100%;
  // width: 80%;
  position: relative;
  z-index: 1;
  border: 3px solid black;
  border-right: 1px solid black;
  transition: width 0.5s ease;

  &.started {
    width: 100%;
  }
}


// Quiz avant commencement
.quizz-score-container-starter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: tan;
  height: 60%;
  width: 80%;
  position: relative;
  z-index: 1;
  border: 3px solid black;
  border-right: 1px solid black;
  transition: width 0.5s ease;

  &.started {
    width: 100%;
  }
}

.quizz-table-title {
  font-size: 24px;
  font-weight: bold;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  :nth-child(1) {
    width: 33%;
    border-bottom: 1px solid black;
  }
  :nth-child(2) {
    margin: 0 10px;
    text-align: center;
    font-size: 24px;
  }
  :nth-child(3) {
    width: 33%;
    border-bottom: 1px solid black;
  }
}
.quizz-score-title {
  font-size: 48px;
  font-weight: bold;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.quizz-score-name {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    padding: 10px 20px;
    font-size: 32px;
    cursor: pointer;
    margin: 0 10px;
  }
  #quizz-start {
    // pointer-events: none;
    // opacity: 50%;
  }
}
.quizz-table-wrapper {
  width: 80%;
  max-height: 300px;
  overflow-y: auto;
  border: 3px solid black;
  margin: 10px 0;
}
.quizz-score-table {
  border: 1px solid red;
  width: 100%;
  border-collapse: collapse;
  height: auto;
  font-size: 22px;
  td {
    width: 25%;
    border: 1px solid black;
    text-align: center;
  }
  thead {
    background-color: black;
    font-weight: bold;
    color: whitesmoke;
  }
}

.quizz-points {
  font-size: 24px;
  width: 15%;
  justify-content: center;
  align-items: center;
}
.quizz-round {
  font-size: 24px;
  width: 15%;
}
//////
// Score joueur highscore

.highscore-joueur-0 {
  background-color: gold;
}
.highscore-joueur-1 {
  background-color: silver;
}
.highscore-joueur-2 {
  background-color: chocolate;
}
//////////////////////////////////////////////
/// Quizz container
/// Par défaut none, puis flex quand le joueur a rentré son nom
.quizz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgoldenrodyellow;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  border: 3px solid black;
  border-left: none;
}
.quizz.container-flex {
}
.quizz-container-column {
  flex-direction: column;
}
//////////////////////////////////////////////
/// Quizz boutons actions

.quizz-boutons-action {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 25px;
}

.quizz-next,
.quizz-stop {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
  background: lightgray;
  width: 250px;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  &:hover {
    background: teal;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    transition: all ease 0.33s;
    color: whitesmoke;
    font-weight: bold;
  }
}

.quizz-question-container {
  margin-left: 15px;
  padding: 5px 0;
  font-size: 24px;
  font-weight: bold;
  height: 90%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-line;
  background-color: rgb(89, 189, 189);
  border: 3px solid black;
  // border-radius: 8px;
}

.quizz-question {
  padding-left: 15px;
}

.quizz-separator {
  border: 1px solid black;
  width: 100%;
}

.quizz-reponses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  height: 100%;
}
.quizz-reponses {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quizz-reponse {
  margin: 10px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 24px;
  background: lightgray;
  height: 22vh;
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    border: 3px solid teal;
    color: teal;
  }
}

.quizz-resultat {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: baseline;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  height: 100%;
  background: whitesmoke;

  align-items: center;

  border: 7px solid black;
}

.quizz-reponse-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  text-align: center;
}

.quizz-reponse-result-bon {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.result-bon {
  background: lightgreen;
}

.result-mauvais {
  height: 30%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quizz-resultat-flex {
  display: flex;
}

.score-joueur {
  background: grey;
}

.quizz-theme {
  font-size: 24px;
}
